.todoline1 {
position:relative;
height:1.5em;
background:#eee;
padding:1px 5px;
border: 1px solid #ddd;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.todoline1 .roottodotitle {
position:absolute;
width:80%;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
font-size:small;
}

.todoline1 .todousercommentcount {
position:absolute;
right:0;
width:20%;
text-align:right;
font-size:x-small;
padding:0.2em 1em;
}

.todoline2 .todotitle {
font-size:small;
margin:.5em .1em;
}

.todoline2 .buttons {
text-align:right;
}

.todoline4 {
clear:both;
text-align:right;
width:100%;
}

.hide_item {
display:none;
}

.todoline3 {
margin:5px 0;
text-align:right;
}

.todoline4 .todocreateddate,.todoline4 .todoclosedate {
font-size:x-small;
text-align:right;
}

.startdate,.enddate,.todocreateddate {
font-size:x-small;
}

.show_item{
    display:inline-block;
}