
.show-delete-btn {
    display:inline-block;
}

.hide-delete-btn {
    display:none;
}

.comment_info {
    display:inline-block;
}

.user_profile, .user_name, .comment_date {
    display:inline-block;
}

.comment_date {
    font-size:9px;
}
.comment_text {
    margin-top:5px;
}