.todoline2 .todotitle {
font-size:small;
word-wrap:break-word;
}

.detailtodoitem .buttons {
text-align:right;
}

.todoline3 {
font-size:x-small;
}

.todoline4 {
clear:both;
text-align:right;
width:100%;
}

.todoeditmode {
padding:15px;
border: 1px solid #ddd;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background:#eee;
}

.todoeditmode .row {
margin:0;
}

#edit_title {
overflow:hidden;
resize:none;
width:100%;
height:32px;
}

.comments-group {
margin:5px 0;
}

.todoline4 .todocreateddate,.todoline4 .todoclosedate {
font-size:x-small;
text-align:right;
}

.list-group {
margin:5px;
}

.todocommentlist {
padding:0;
margin:0;
}

.todocommentlist .commentitem {
border:0;
border-bottom: 1px dashed #ccc;
margin:1px 0;
}

.todocommentlist .blankcommentitem {
margin:5px 0 0 0;
border:0;
padding:0;
}

.blank_border .edit_mode textarea {
width: -moz-calc(100% - 90px);
width: -webkit-calc(100% - 90px);
width: calc(100% - 90px);
}

.blank_border #addtodota {
margin:0;
padding:6px;
}

.detailview .todolistblock {
margin-bottom: 30px;
}

.detailview .todolistblock .todolist {
padding: 0;
}

.detailview .panel .panel-title {
font-size:small;
}

.detailview .todolistblock .todolist .todoitem,
.detailview .panel .panel-body,
.panel .panel-heading,
.list-group-item {
padding: 5px;
}

#addCommentText {
width: -moz-calc(100% - 90px);
width: -webkit-calc(100% - 90px);
width: calc(100% - 90px);
border: 1px solid #dddddd;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 0;
padding: 6px;
}