div.todoline2 {
    clear:both;
    width:100%
}

div.todoline2 div.todotitle {
    float:left;
    margin-top:3px;
    display: inline-block;
    width:100%;
    font-size:10pt;
    line-height: 14px;
    word-wrap: break-word;
}

div.todoline2  div.tododone {
    padding-top:10px;
    float:right;
    display: inline-block;
}

div.todoline3 {
    clear:both;
    width:100%
}
div.todoline3 div.todostartenddate {
    padding-top:10px;
    text-align:right;
    font-size:9px;
}

div.todoline4 {
    clear:both;
    width:100%;
    text-align:right;
}
div.todoline4 div.todocreateddate {
    text-align:right;
    font-size:9px;
}

div.todoline4 div.todoclosedate {
    text-align:right;
    font-size:9px;
}

.show_item {
    display:inline-block;
}
.show_item_block {
    display:block;
}

.hide_item {
    display:none;
}

.todoeditmode {
    margin:15px;
}

#edit_title {
    resize: none;
    overflow:hidden;
    width:100%;
}

.startdate, .enddate, .todocreateddate {
    display:inline-block;
}

.comments-group {
    margin:5px 0;
}