.todoline2 {
    clear:both;
    width:100%
}

.todoline2 .todotitle {
    float:left;
    margin-top:3px;
    display: inline-block;
    width:100%;
    font-size:10pt;
    line-height: 14px;
    word-wrap: break-word;
}

.detailtodoitem .buttons {
    text-align: right;
}

.todoline3 {
    clear:both;
    width:100%
}
.todoline3 .todostartenddate {
    padding-top:10px;
    text-align:right;
    font-size:9px;
}

.todoline4 {
    clear:both;
    width:100%;
    text-align:right;
}
.todoline4 .todocreateddate {
    text-align:right;
    font-size:9px;
}

.todoline4 .todoclosedate {
    text-align:right;
    font-size:9px;
}

.show_item {
    display:inline-block;
}
.show_item_block {
    display:block;
}

.hide_item {
    display:none;
}

.todoeditmode {
    margin:15px;
}

#edit_title {
    resize: none;
    overflow:hidden;
    width:100%;
}

.startdate, .enddate, .todocreateddate {
    display:inline-block;
}

.comments-group {
    margin:5px 0;
}

#adduserbtn {
    margin: 9px 30px;
}